# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
crash.log
crash.*.log
.terraformrc
terraform.rc

# misc
.DS_Store